<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Music</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/music">Music</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>